@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /*===== Palet color =====*/
  --main-color: #f0f0ff;
  --secun-color: #2232af;
  --tercer-color: #6875d8;
  --font-color-1: #142335;
  --font-color-2: #89969f;
  --white: #ffffff;
  --gradient-color: linear-gradient(104.46deg, #2232af -5.16%, #6abce4 107.22%);
  --gradient-img: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) -18.02%,
    rgba(247, 247, 252, 0.8) 60.64%
  );
  /*===== Font and typography =====*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  /*===== Margenes =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--body-font);
  background-color: var(--main-color);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
button {
  outline: none;
}
.iconSize {
  font-size: 1.8rem;
}
.bd-container {
  /* max-width: 1024px; */
  max-width: 1300px;
  /* width: calc(100% - 2rem); */
  /* margin-left: var(--mb-2);
  margin-right: var(--mb-2); */
  margin: 0 auto;
}
